<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="live.sockets.accomple">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Accomple"
        android:usesCleartextTraffic="true">
        <activity android:name=".VerificationActivity"></activity>
        <activity android:name=".UpdatePasswordActivity" />
        <activity android:name=".BookingActivity" />
        <activity android:name=".BookmarkActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".FilterActivity" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".TestActivity" />
    </application>

</manifest>